<!-- /application/index/create-->
<form name="form" method="POST" action="../index/create">
	<label>Nome</label>
	<input type="text" name="nome" />
	<br/>
	<label>Cep</label>
	<input type="text" name="cep" />
	<br/>
	<label>Endereço</label>
	<input type="text" name="endereco" />
	<br/>
	<label>Numero</label>
	<input type="text" name="numero" />
	<br/>
	<label>Complemento</label>
	<input type="text" name="complemento" />
	<br/>
	<label>Cidade</label>
	<input type="text" name="cidade" />
	<br/>
	<label>Bairro</label>
	<input type="text" name="bairro" />
	<br/>
	<label>Estado</label>
	<input type="text" name="estado" />
	<br/>
	<label>Telefone</label>
	<input type="text" name="telefone" />
	<br/>
	<label>Email</label>
	<input type="text" name="email" />
	<br/>
<button class="btn btn-success" type="submit">Enviar</button>
</form>

