<!-- /application/index/create-->
<a href="../public/application/index/create">Cadastrar cliente</a>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Endereço</th>
            <th>Cidade</th>
            <th>Açao</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ($this->clientes as $o): ?>
                <!--<?php var_dump($o) ?>-->
            <tr>
                <td><?php echo $o->getId();?></td>
                <td><?php echo $o->getNome();?></td>
                <td><?php echo $o->getEndereco();?></td>
                <td><?php echo $o->getCidade();?></td>
                <td>
                    <a href="../public/application/index/edit/<?php echo $o->getId();?>">
                    Editar
                    </a>
                    |
                    <a href="../public/application/index/delete/<?php echo $o->getId();?>">
                    Excluir
                    </a>
                </td>
            
            </tr>
        <?php endforeach;?>
        
    </tbody>

</table>


